.register-info {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.register-info p:first-child {
    color: var(--main-color);
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: var(--main-color);
}

.table-bordered th{
    width: 33%;
    height: 33%;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    color: #E5E1E6;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(61, 174, 43);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(61, 174, 43);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}