.register-info {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.register-info p:first-child {
    color: var(--main-color);
}


.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: var(--main-color);
}

.table-bordered th{
    width: 25%;
    height: 33%;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 14px;
    color: #E5E1E6;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(61, 174, 43);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(61, 174, 43);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.btn-history{
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #0d3625;
    color: #E5E1E6;
}
.btn-recordHygiene{
    display: block;
    margin: auto;
}