/*** HACCP ***/

.container-docs {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12);
  text-align: center;
  margin: 0 auto;
}

.file {
  display: inline-block;
  width: 225px;
  height: 300px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.file-head {
  width: 100%;
  height: 46px;
  position: relative;
  background-color: #808080;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-head:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  border-bottom: 7px solid var(--main-color);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  height: 0;
  width: 80px;
}

.file-body {
  position: relative;
  background-color: var(--main-color);
  height: 254px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.file-body__img {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  background-color: var(--light-green);
}

.file-body:after {
  content: url("C:\xampp\htdocs\regold\public\img\index\icon1.png");
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 50px solid var(--light-green);
  border-right: 50px solid #fff;
  border-top-left-radius: 15px;
}

.file-body:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 38px;
  border-top: 50px solid transparent;
  border-right: 50px solid var(--secondary-green);
  border-top-left-radius: 15px;
}

@media (max-width: 480px) {
  .file {
    width: 125px;
    height: 200px;
  }

  .file:nth-child(even) {
    margin-right: 0;
  }

  .file-body {
    height: 154px;
  }

  .file-body__img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 360px) {
  .file {
    width: 100px;
    height: 175px;
  }

  .file-body {
    height: 129px;
  }

  .file-body__img {
    width: 55px;
    height: 55px;
    top: 20%;
  }
}

/***************select*****************/
.divSection {
  width: 65%;
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  font-size: 15px;
  text-align: center;
  margin-top: 10%;
  margin-left: 17.5%;
}

ul.ks-cboxtags {
  list-style: none;
  padding: 20px;
}

ul.ks-cboxtags li{
display: inline;
}

ul.ks-cboxtags li label{
  display: inline-block;
  background-color: #e6ffe6;
  border: 2px solid green;
  color: black;
  border-radius: 25px;
  white-space: nowrap;
  margin: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}

ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer;
}

ul.ks-cboxtags li label::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content:"\f067";
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 2px solid green;
  background-color: #9ac266;;
  color: black;
  transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
position: absolute;
opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
border: 2px solid green;
}