h1.title {
    color: #000;
    font-family: Univia Pro;
    font-size: 70px; font-weight: normal;
    line-height: 48px;
    margin: 0 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}

h1.title { color: #000; font-family: Univia Pro; font-size: 40px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }

.btn-add {
    width: 100%;
    text-transform: uppercase;
}

.file {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type=radio]+label{
    margin-left: 20px;
}

.labelError{
    color: red;
}
.btn-add
{
    background-color:var(--main-color);
    color:white;
}

.modal-del
{
    color: white;
}
.btn_delete{
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #E5E1E6;
    font-size: 14px;
    background-color: red;
    border: 1px solid transparent;
    padding: 6px 12px;
    line-height: 1.6;
    border-radius: 4px;
    margin-right: 5px;
}

.devicePersonalized{
    filter: grayscale(1);
}