/*** report ***/

* {-webkit-font-smoothing: antialiased;}
/*
h1.title { 
  font-family: 'Raleway',sans-serif;
  font-size: 25sp; 
  font-weight: 400; 
  line-height: 32px;
  margin: 3% 0 0 0; 
  text-align: center; 
  text-transform: uppercase;
  color: black;
 }*/


 h1.title { 
  color: #000;
  font-family: 'Rouge Script', cursive;
  font-size: 70px; font-weight: normal; 
  line-height: 48px;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
 }

 
 h1.title { color: #000; font-family: 'Lobster', cursive; font-size: 40px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }
 h2.subTitle { color: #000; font-family: 'Lobster', cursive; font-size: 30px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; text-align: center;}



label{
  color: black;
  font-size: 20px;
}

.lblBold{ 
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.divReportInfo{
  margin-top: 5%;
  text-align: center;
}

#btnNext{
  color: black;
  margin-top: 10px;
}

input[type=radio]{
  display:none;
}
input[type=radio] + label{
  display: block;
  border: 1px solid black;
  background-color: red;
  border-radius: 0%;
  width: 100px;
  height: 20px;
  margin: auto;
}

input[type=radio] + label.conforme{
  background: rgb(0, 255, 0,0.5);
  
}
input[type=radio]:checked + label.conforme{
  background: rgb(0, 255, 0);
}

input[type=radio] + label.naoConforme{
  background: rgb(255,0, 0,0.5);
}
input[type=radio]:checked + label.naoConforme{
  background: rgb(255, 0, 0);
}

input[type=radio] + label.naoAplicavel{
  background: rgb(255, 255, 0,0.5);
}
input[type=radio]:checked + label.naoAplicavel{
  background: rgb(255, 255, 0);
}

.tableContainer{
  width: 80%;
  margin-left: 10%;
}

#reportRulesTop{
  background: #f2f2f2;
}

#reportRulesTop th{
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.table{
  border: 2px solid #595959;
}

.tdBackground{
  background: #ffffff;
}

.index{
  width: 15px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  background: #f2f2f2;
  text-align: center;
}

.rule{
  color: black;
  text-align: left;
  font-size: 15px;
}

.tableRow{
  background: white;
}

.corrective{
  width: 100%;
  border:none;
  height: auto;
  line-height: 15px;
  margin: 0;
  padding: 5px;
  color: black;
  text-align: left;
  font-size: 15px;
  border: 0 none white;
  overflow: hidden;
  padding: 0;
  outline: none;
  background: #ffffff;
}

.tdRuleBackground{
  max-width: 200px;
}

.correctiveRulesIndex{
  max-width: 15px;
}

.wrapper {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 24% 24% 24% 24% ;
  grid-gap: 1%;
  background-color: aqua;
  color: #444;
}

.box {
  background-color: white;
  color: #000;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.trashTd{
  color:red;
  font-size: 20px;
  width: 30px;
}

#addObs{
  width: 80%;
  margin-left: 10%;
  margin-top: 0%;
  background: white;
}

#iptObs{
  height: 27px;
  min-width: 78%;
  color: black;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #000;
  margin-left: 10px;
}

#iptObs:focus { 
  outline:none;
}

#indexObs{
  height: 27px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 20px;
  color: black;
  text-align-last: center;
}

#divBtns{
  text-align: center;
  background: aqua;
  margin: 50px;
}