/*** report ***/



 h1.title { 
  color: #000;
   font-family: Univia Pro;
  font-size: 70px; font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
 }


 h1.title { color: #000;
   font-family:Univia Pro; font-size: 40px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }
 h2.subTitle { color: #000; font-family: Univia Pro; font-size: 30px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; text-align: center;}

label{
  color: black;
  font-size: 20px;
}

.lblBold{ 
  font-family: Univia Pro;
  font-weight: bold;
}

.divReportInfo{
  margin-top: 5%;
  text-align: center;
}

#btnNext{
  color: black;
  margin-top: 10px;
}

input[type=radio]{
  display:none;
}

input[type=radio] + label{
  display: block;
  border: 1px solid black;
  background-color: red;
  border-radius: 0%;
  width: 100px;
  height: 20px;
  margin: auto;
}

input[type=radio] + label.conforme{
  background: white;
  
}
input[type=radio]:checked + label.conforme{
  background: limegreen;
}

input[type=radio] + label.naoConforme{
  background: white;
}
input[type=radio]:checked + label.naoConforme{
  background: rgb(255, 0, 0, 1);
}

input[type=radio] + label.naoAplicavel{
  background: white;
}
input[type=radio]:checked + label.naoAplicavel{
  background: rgb(153, 122, 0);
}

.tableContainer{
  width: 80%;
  margin-left: 10%;
}

#reportRulesTop{
  background: #f2f2f2;
}

#reportRulesTop th{
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.table{
  border: 2px solid #595959;
}

.tdBackground{
  background: #ffffff;
}

.index{
  width: 15px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  background: #f2f2f2;
  text-align: center;
}

.rule{
  color: black;
  text-align: left;
  font-size: 15px;
}

.tableRow{
  background: white;
}

.corrective{
  width: 100%;
  border:none;
  height: auto;
  line-height: 15px;
  margin: 0;
  padding: 5px;
  color: black;
  text-align: left;
  font-size: 15px;
  border: 0 none white;
  overflow: hidden;
  padding: 0;
  outline: none;
  background: #ffffff;
}

.tdRuleBackground{
  max-width: 200px;
}

.correctiveRulesIndex{
  max-width: 15px;
}

.wrapper {
  width: 80%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 24% 24% 24% 24% ;
  grid-gap: 1%;
  color: #444;
}

.box {
  background-color: white;
  color: #000;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.trashTd{
  color:red;
  font-size: 20px;
  width: 30px;
}

#addObs{
  width: 80%;
  margin-left: 10%;
  margin-top: 0%;
  background: white;
}

#iptObs{
  height: 27px;
  min-width: 78%;
  color: black;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #000;
  margin-left: 10px;
}

#iptObs:focus { 
  outline:none;
}

#indexObs{
  height: 27px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 20px;
  color: black;
  text-align-last: center;
}

#divBtns{
  text-align: center;
  margin: 50px;
}

hr.line{
  border: 3px solid green;
  border-radius: 5px;
  margin-left: 20%;
  width: 60%;
  margin-bottom: 30px; 
}

#divFloatLeft{
  text-align: left;
  float: left;
}

#divFloatRigth{
  text-align: left;
  float: right;
}

#reportInfo{
  width: 40%;
  margin-left: 30%;
  text-align: center;
  margin-bottom: 200px;
}

/*div das barras*/

#chartBar{
  margin: 25%;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.conformeBar{
  font-size: 15px !important;
  color: black !important;
  background-color: green !important; 
}
.nConformeBar{
  font-size: 15px !important;
  color: black !important ;
  background-color: red !important; 
}

.nAplicavelBar{
  font-size: 15px !important;
  color: black !important ;
  background-color: yellow !important; 
}

.severity{
  width: 200px;
  background: #f2f2f2;
}

.recidivist{
  width: 100px;
}

#recidivistCount{
  text-align: center;
}

/*range slider*/

.divSeverity{
  width: 100%;
}

.range-slider {
  margin: 5px 0 0 0%;
}

.range-slider {
  width: 75%;
  float: left;
  margin-left: 2%;
}

.inputRangeValue{
  float: right;
  width: 20%;
  margin-left: 3%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: px;
  background: #d7dcdf;
  background: linear-gradient(to right, green 0%, yellow 50%, red 100%);
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #f0f;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #f0f;
}
.range-slider__range::-moz-range-thumb {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #f0f;
}
.range-slider__range:active::-moz-range-thumb {
  background: #f0f;
}

::-moz-range-track {
  background: #d7dcdf;
  background: linear-gradient(to right, green 0%, yellow 50%, red 100%);
  border: 0;
}
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}
main {
  max-width: 80em;
  margin: 2rem auto;
  padding: 2rem;
}

.lblSeverityStatus{
  width: 60%;
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 10%;
}
.btn-del{
  margin:0 auto;
  display:block;
  color: #E5E1E6;
  border: 2px solid rgb(0, 149, 121);
  background-color: rgb(0, 149, 121);
  border-radius: 10px;
  margin-top: 5px;
}
