/*** report ***/

* {-webkit-font-smoothing: antialiased;
    -webkit-print-color-adjust: exact;}
*{
    background: #fff;
}
  
  .panel {
    border: none;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
    width: 130%;
    margin-left: -12.5%;
    background-color: #fff;
  }

  .row{
    width: 100%;
  }

  .printall, .printall table {
    font-size: 12px;
    }

   
   h1.title { color: #000; font-family: Univia Pro; font-size: 20px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; text-align: center;}
   h2.subTitle { color: #000; font-family: Univia Pro; font-size: 30px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; text-align: center;}
  
  label{
    color: black;
    font-size: 10px;
  }
  
  .lblBold{ 
    font-family: Univia Pro;
    font-weight: bold;
    font-size: 10px;
  }
  
  .divReportInfo{
    margin-top: 5%;
    text-align: center;
  }
  
  #btnNext{
    color: black;
    margin-top: 10px;
  }
  
  input[type=radio]{
    display:none;
  }
  input[type=radio] + label{
    display: block;
    border: 1px solid black;
    background-color: red;
    border-radius: 0%;
    width: 100px;
    height: 20px;
    margin: auto;
  }
  
  input[type=radio] + label.conforme{
    width: 30px;
    background: white;
    
  }
  input[type=radio]:checked + label.conforme{
    width: 30px;
    background: rgb(0, 255, 0) !important;
  }
  
  input[type=radio] + label.naoConforme{
    width: 30px;
    background: white;
  }
  input[type=radio]:checked + label.naoConforme{
    width: 30px;
    background: rgb(255, 0, 0) !important;
  }
  
  input[type=radio] + label.naoAplicavel{
    width: 30px;
    background: white;
  }
  input[type=radio]:checked + label.naoAplicavel{
    width: 30px;
    background: rgb(255, 255, 0) !important;
  }
  
  .tableContainer{
    width: 80%;
    margin-left: 10%;
  }
  
  #reportRulesTop{
    background-color: #f2f2f2;
  }
  
  #reportRulesTop th{
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
  }
  
  .table{
    width:100% !important;
    border: 2px solid #595959;
  }
  
  .tdBackground{
    background: #ffffff;
  }
  
  .index{
    width: 15px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    background: #f2f2f2;
    text-align: center;
  }
  
  .rule{
    color: black;
    text-align: left;
    font-size: 15px;
  }
  
  .tableRow{
    background: white;
  }
  
  /*.corrective{*/
  /*  width: 100%;*/
  /*  padding: 5px;*/
  /*  color: black;*/
  /*  text-align: left;*/
  /*  font-size: 15px;*/
  /*  background: #ffffff;*/
  /*}*/
  
  .tdRuleBackground{
    max-width: 200px;
  }
  
  .correctiveRulesIndex{
    width: 15px;
    background-color: #f2f2f2;
  }
  
  .wrapper {
    width: 80%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24% ;
    grid-gap: 1%;
    background-color: aqua;
    color: #444;
  }
  
  .box {
    background-color: white;
    color: #000;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
  }
  
  .trashTd{
    color:red;
    font-size: 20px;
    width: 30px;
  }
  
  #addObs{
    width: 80%;
    margin-left: 10%;
    margin-top: 0%;
    background: white;
  }
  
  #iptObs{
    height: 27px;
    min-width: 78%;
    color: black;
    font-size: 20px;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10px;
  }
  
  #iptObs:focus { 
    outline:none;
  }
  
  #indexObs{
    height: 27px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 20px;
    color: black;
    text-align-last: center;
  }
  
  hr.line{
    border: 3px solid green;
    border-radius: 5px;
    margin-left: 20%;
    width: 60%;
    margin-bottom: 30px; 
  }

  #reportInfo{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 80px;
  }
  
  #divFloatLeft{
    text-align: left;
    float: left;
  }
  
  #divFloatRigth{
    text-align: left;
    float: right;
  }
  
  /*div das barras*/
  #chartBar{
    margin: 25%;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.8);
  }
  
  .conformeBar{
    font-size: 15px !important;
    color: black !important;
    background-color: green !important; 
  }
  .nConformeBar{
    font-size: 15px !important;
    color: black !important ;
    background-color: red !important; 
  }
  
  .nAplicavelBar{
    font-size: 15px !important;
    color: black !important ;
    background-color: yellow !important; 
  }
  
  .page-break {
    page-break-after: always !important;
  }

  #btnBack{
      width: 75px;
  }

 #divBtns{
     display: inline-block;
     float: right;
     margin-top: -50;
 }

 #correctiveRuleCorrective{
   width:50%;
   background-color: #f2f2f2;
 }

 #correctiveRule{
  width:50%;
  background-color: #f2f2f2;
}

#correctiveRulesIndex{
  width: 15px;
  background-color: #f2f2f2;
}
 
.thBackground{
  background-color: #f2f2f2;
}

.severity{
  width: 170px;
  background: #f2f2f2;
}

/*range slider*/
.divSeverity{
  width: 100%;
}

.range-slider {
  margin: 5px 0 0 0%;
}

.range-slider {
  width: 75%;
  float: left;
  margin-left: 2%;
}

.lblRangeValue{
  float: right;
  width: 15%; 
  margin-left: 3%;
  font-size: 15px;
}


.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  background: linear-gradient(to right, green 0%, yellow 50%, red 100%) !important;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #5a5a5a;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #5a5a5a;
}
.range-slider__range::-moz-range-thumb {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #f0f;
}
.range-slider__range:active::-moz-range-thumb {
  background: #f0f;
}

::-moz-range-track {
  background: #d7dcdf;
  background: linear-gradient(to right, green 0%, yellow 50%, red 100%);
  border: 0;
}
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}
main {
  max-width: 80em;
  margin: 2rem auto;
  padding: 2rem;
}

.lblSeverityStatus{
  width: 60%;
  text-align: center;
  font-size: 15px;
  margin-top: 15px;
  margin-left: 10%;
}

.tableLegend{
  margin-left: 10%;
  font-size: 15px;
  color: black;
}


.imp_logo {
  display: block;
  width: 200px;
  float: left;
}

@media screen {
  footer.footer_1 {
    display: none;
  }
}
@media print {
  footer.footer_1 {
    position: fixed;
    bottom: 0;
  }
  table.report-container {
    page-break-after:always;
  }
  thead.report-header{
    display:table-header-group;
  }
  tfoot.report-footer{
    display:table-footer-group;
  }
}