/*** HACCP ***/

.container-docs {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12);
  text-align: center;
  margin: 0 auto;
}


.file {
  display: inline-block;
  width: 225px;
  height: 300px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.file-head {
  width: 100%;
  height: 46px;
  position: relative;
  background-color: #808080;
  color: #E5E1E6;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-head:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  border-bottom: 7px solid var(--main-color);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  height: 0;
  width: 80px;
}

.file-body {
  position: relative;
  background-color: var(--main-color);
  height: 254px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.file-body__img {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  background-color: var(--light-green);
}

.file-body:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 50px solid var(--light-green);
  border-right: 50px solid #fff;
  border-top-left-radius: 15px;
}

.file-body:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 38px;
  border-top: 50px solid transparent;
  border-right: 50px solid var(--secondary-green);
  border-top-left-radius: 15px;
}

@media (max-width: 480px) {
  .file {
    width: 125px;
    height: 200px;
  }

  .file:nth-child(even) {
    margin-right: 0;
  }

  .file-body {
    height: 154px;
  }

  .file-body__img {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 360px) {
  .file {
    width: 100px;
    height: 175px;
  }

  .file-body {
    height: 129px;
  }

  .file-body__img {
    width: 55px;
    height: 55px;
    top: 20%;
  }
}

/*** REGISTOS ***/

.btn-history{
  background-color: var(--main-color);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 4px;
  user-select: none;
  margin-bottom: 20px;
  color: #E5E1E6;
}
.btn-history:hover{
  text-decoration: none;
  color: #5a5a5a;
}

/*** OLEO ***/

.active{
  color:#E5E1E6
}

.btn-oilRecord {
  background-color:  #33adff;
  font-size: 20px;
  color: #E5E1E6;
}
.btn-oilRecord2{
  background-color:  #00e673;
  font-size: 20px;
  margin-left: 10px;
  color: #E5E1E6;
}
.btn-oilRecord3{
  background-color:  #00cc00;
  font-size: 20px;
  margin-left: 10px;
  color: #E5E1E6;
}
.btn-oilRecord4{
  background-color:  #4d9900;
  font-size: 20px;
  margin-left: 10px;
  color: #E5E1E6;
}
.btn-oilRecord5{
  background-color:  #666600;
  font-size: 20px;
  margin-left: 10px;
  color: #E5E1E6;
}
.date{
  margin:auto;
  display: table;
}
.btn-oilVal{
  margin:auto;
  display: table;
}


/*** ENTRADA PRODUTO ***/

.btnNEXT {
  width: 15%;
  text-transform: uppercase;
}

.btn-conformities{
  background-color: green;
}
.btn-nconformities{
  background-color: red;
}


/*** REPORTPESTLIST ***/

.table {
  background-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: none;
  vertical-align: middle;
}
caption {
  background: #153E35;
  font-size: 25px;
  text-align: center;
  color: #E5E1E6;
}

.table th {
  background-color: #009579;
  color: #E5E1E6;
  text-align: center;
  font-size: 18px;
}

.table tr:nth-child(odd) {
  background-color: var(--light-green);
}
.table td{
  font-size: 18px;
}
.table td img {
  width: 100px;
  margin: 0 auto;
  display: block;
}

/*Butao novo relatorio*/

.file-link {
  display: inline-block;
  color: var(--main-color);
  padding: 3px 12px;
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 15px;
}

.file-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
}
#print-link, #filter-link {
  display: block;
  margin-bottom: 20px;
  padding: 6px 12px;
}

