/*** HACCP ***/

.container-docs {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12);
  text-align: center;
  margin: 0 auto;
}

.file {
  display: inline-block;
  width: 225px;
  height: 300px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.file-head {
  width: 100%;
  height: 46px;
  position: relative;
  background-color: #808080;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-head:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  border-bottom: 7px solid var(--main-color);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  height: 0;
  width: 80px;
}

.file-body {
  position: relative;
  background-color: var(--main-color);
  height: 254px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.file-body__img {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  background-color: var(--light-green);
}

.file-body:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 50px solid var(--light-green);
  border-right: 50px solid #fff;
  border-top-left-radius: 15px;
}

.file-body:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 38px;
  border-top: 50px solid transparent;
  border-right: 50px solid var(--secondary-green);
  border-top-left-radius: 15px;
}

@media (max-width: 480px) {
  .file {
    margin-right: 0;
  }
}
