.panel {
  border: none;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12) !important;
  background-color: #fff;
}

.table {
  background-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: none;
  vertical-align: middle;
}

.table th {
  background-color: var(--main-color);
  color: #fff;
}

.table tr:nth-child(odd) {
  background-color: var(--light-green);
}

.table td img {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.table-checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;
  color: var(--main-color);
}

.table-checkbox input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  border: 1px solid var(--main-color);
  border-radius: 15%;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.table-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.table-checkbox .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: 1px solid var(--secondary-green);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Pagination */

.pagination > li > a,
.pagination > li > span {
  color: #000;
}

.pagination > li > span,
.pagination > li > a,
.pagination > .disabled > span,
.pagination > li > a,
.pagination > li > span {
  background-color: unset;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid var(--light-green);
  border-radius: 0;
}

.pagination > .active > span,
.pagination > .active > span:hover {
  background-color: unset;
  border-top-color: var(--main-color);
  border-bottom-color: var(--main-color);
  color: #000;
}

.pagination > li:hover > a {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: unset;
}

/* UPLOAD */

.form-td {
  width: 300px;
  text-align: center;
}

.order-form {
  position: relative;
  width: 300px;
}

.order-form button {
  position: relative;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.order-form .input-order,
.order-form button,
.order-form label {
  display: inline-block;
}

.order-form .input-order {
  display: none;
}

.order-form label {
  width: 200px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* File Link */

.file-link {
  display: inline-block;
  color: var(--main-color);
  padding: 3px 12px;
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 15px;
}

.file-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
}

#print-link, #filter-link {
  display: block;
  margin-bottom: 20px;
  padding: 6px 12px;
}

/* Filter */

#collapseFilter .card-body {
  border: 2px solid var(--main-color);
  padding: 15px;
  margin-bottom: 20px;
}

#collapseFilter .card-body .form-control{
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}
