#messages-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.msg {
  width: 40%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
}

.msg.viewed {
  border-top: 8px solid var(--main-color);
}

.msg.not-viewd {
  border-top: 8px solid rgb(214, 18, 18);
}

.msg-info {
  flex: 1 1 auto;
}

.msg-img img {
  width: 100px;
}

.msg-info {
  padding: 10px;
}

@media (max-width: 480px) {
  .msg {
    width: 100%;
  }

  .msg-body {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: scroll;
  }
}
