#messages-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.msg {
  width: 40%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}

.msg.viewed {
  border-top: 8px solid var(--main-color);
}

.msg.not-viewd {
  border-top: 8px solid rgb(214, 18, 18);
}

.msg-info {
  flex: 1 1 auto;
}

.msg-img img {
  width: 100px;
}

.msg-info {
  padding: 10px;
}

/* Modal */

#messageModal .modal-content {
  background-color: var(--light-green);
}

#messageModal .modal-header button {
  font-size: 30px;
}

#messageModal .modal-header .close {
  margin-top: -10px;
}

#messageModal .modal-footer {
  background-color: #fff;
}

#messageModal .modal-footer button {
  background-color: var(--light-green);
  font-weight: bold;
  border: 3px solid var(--light-green);
}

#messageModal .modal-footer button:hover {
  background-color: #fff;
}

@media (max-width: 480px) {
  .msg {
    width: 100%;
  }

  .msg-body {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: scroll;
  }
}
