.messages-box {
  width: 50%;
  margin: 0 auto;
}

.message-select {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border: none;
  border-bottom: 3px solid var(--main-color);
  margin-bottom: 10px;
}

.message-select:focus {
  outline: none;
}

#messagebody {
  resize: none;
}

.btn-send {
  margin-top: 10px;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  padding: 6px 12px;
  font-size: 14px;
  width: 100%;
  text-transform: uppercase;
}

.btn-send:hover {
  background-color: #fff;
  color: var(--main-color);
}

@media (max-width: 480px) {
  .messages {
    width: 100%;
  }

  .messages-box {
    max-width: 100% !important;
  }

  .row {
    margin-left: 0 !important;
  }
}
