.panel {
    border: none;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12) !important;
    background-color: #fff;
}

table.table {
    width: 25%;
    background-color: #FFFFFF;
    color: #000000;
    margin-bottom: 30px !important;
    text-align: center;
}

table.table td, table.table th {
    border-width: 1px;
    padding: 6px;
}

table.table thead {
    background-color: var(--main-color);
    color: #E5E1E6;
    width: 25%;
    font-size: 14px;
    text-align: center;

}



/*#table{
    float: right;
    width: 72%;
}*/

@media (min-width: 992px) {
    #table{
        float: right;
        width: 74%;
    }
}

.divChart1 {
    width: 75%;
    height: 25%;
    float: right;
    margin-bottom: 20px;
}



.anychart-credits {
    display: none;
}

table.customTableAg {
    width: 70%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 1px;
    border-color: var(--main-color);
    border-style: solid;
    color: #000000;
    margin-bottom: 30px;
    text-align: center;
    float: right;

}

table.customTableAg td, table.customTableAg th {
    border-width: 1px;
    border-color: var(--main-color);
    border-style: solid;
    padding: 6px;
    width: 14.5%;
}

table.customTableAg thead {
    background-color: var(--main-color);
    color: #E5E1E6;
    width: 25%;
    font-size: 16px;

}