/*
.panel {
    border: none;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12) !important;
    background-color: #fff;
}

table.table {
    width: 35%;
    background-color: #FFFFFF;
    color: #000000;
    margin-bottom: 30px !important;
    text-align: center;
}

table.table td, table.table th {
    border-width: 1px;
    padding: 6px;
}

table.table thead {
    background-color: var(--main-color);
    color: #E5E1E6;
    width: 25%;
    font-size: 14px;
    text-align: center;

}
     canvas {

         width: 60% !important;
         height: 50% !important;
         position: relative;

     }
@media only screen and (min-width: 768px) {

    canvas {

        width: 60% !important;
        height: 40% !important;
        position: relative;

    }

    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px) {
        canvas {

            width: 60% !important;
            height: 40% !important;
            position: relative;

        }
    }

    @media only screen and (min-width: 600px) {

        canvas {

            width: 60% !important;
            height: 40% !important;
            position: relative;

        }
    }

    !*#table{
        float: right;
        width: 72%;
    }*!
    @media (min-width: 992px) {
        #table {
            float: right;
            width: 100%;
        }

        .anychart-credits {
            display: none;
        }

        table.customTableAg {
            width: 70%;
            background-color: #FFFFFF;
            border-collapse: collapse;
            border-width: 1px;
            border-color: var(--main-color);
            border-style: solid;
            color: #000000;
            margin-bottom: 30px;
            text-align: center;
            float: right;

        }

        table.customTableAg td, table.customTableAg th {
            border-width: 1px;
            border-color: var(--main-color);
            border-style: solid;
            padding: 6px;
            width: 14.5%;
        }

        table.customTableAg thead {
            background-color: var(--main-color);
            color: #E5E1E6;
            width: 25%;
            font-size: 16px;

        }
    }
}
*/


.homePage_container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin-bottom: 20px;
    grid-template-rows: repeat(2, 1fr);
}

.table {
    background-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-top: none;
    vertical-align: middle;
}

.table th {
    background-color: var(--main-color);
    color: #E5E1E6;
}

.table tr:nth-child(odd) {
    background-color: var(--light-green);
}
/*
table.table {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
}

table.table td, table.table th {
    border-width: 1px;
    padding: 6px;
}

table.table thead {
    background-color: var(--main-color);
    color: #E5E1E6;
    width: 25%;
    font-size: 14px;
    text-align: center;

}*/

canvas {
    background-color:rgba(255,255,255,1.00);
    width: 100% !important;
    overflow: hidden;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
}

@media (max-width: 480px) {
    .homePage_container {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
    }

}

/*@media screen and (min-width: 980px) {
    canvas{
        padding: 20px 30px 20px 30px;
    }

}*/



