
.file-link {
  display: inline-block;
  color: var(--main-color);
  padding: 3px 12px;
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 15px;
}

.file-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
}

#print-link, #filter-link {
  display: block;
  margin-bottom: 20px;
  padding: 6px 12px;
}

.btn-add {
  width: 100%;
  text-transform: uppercase;
}

.btn-add:hover {
  border-color: 3px solid var(--secondary-green);
  background-color: #fff;
  color: var(--secondary-green);
}

.salesman-img {
  display: block;
  margin: 0 auto;
  width: 150px;
  margin-bottom: 25px;
}

.labelParish{
  width: 60%;
  height: 35px;
  float: right;
  vertical-align: middle;
  margin-right: 0%;
  margin-top: -11%;
  padding:7px;
  text-align: center;
  border-style: ridge;
}
#invoicePostalCode{
  width: 40%;
}
#postal_code{
  width: 40%;
}

.divChart1{
  width: 30%;
  height: 30%;
  float: right;
}

.file-link{
  width:100%;
}
