
.charts_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin-bottom: 20px;
    grid-template-rows: repeat(1, 1fr);
}
.statisticsTable_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin-bottom: 20px;
    grid-template-rows: repeat(3, 1fr);
}

.table {
    background-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-top: none;
    vertical-align: middle;
}

.table th {
    background-color: var(--main-color);
    color: #E5E1E6;
}

.table tr:nth-child(odd) {
    background-color: var(--light-green);
}


canvas {
    background-color:rgba(255,255,255,1.00);
    width: 100% !important;
    overflow: hidden;
    padding: 20px 20px 20px 20px;
}

@media (max-width: 480px) {

    .statisticsTable_container{
        grid-template-columns: repeat(1, minmax(0px, 1fr));
    }

    .charts_container {
        grid-template-columns: repeat(1, minmax(0px, 1fr));
        grid-template-rows: 1.5fr 1.5fr;
    }
    canvas {
        padding: 0;
    }
}

.title {
    color: var(--main-color);
    text-transform: uppercase;
}
