.index-box {
  display: flex;
  flex-flow: row wrap;
}

.box {
  flex: 25%;
  position: relative;
  max-width: 25%;
  padding: 10px 15px;
}

.box img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.desc {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

#myModal input {
  margin-bottom: 10px;
  padding: 0 5px;
  width: 100%;
}



@media screen and (max-width: 800px) {
  .index-box {
    justify-content: space-between;
  }

  .box {
    flex: 40%;
    max-width: 40%;
  }

  .box:first-child,
  .box:last-child {
    margin-right: auto;
  }

  .desc {
    font-size: 12px;
  }
}

/*#divSelectLoja{
  width: 100%;
  background-color: aqua;
}*/

/*css do select*/
.selectBox {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
}

#selectLoja {
  width: auto;
  margin: 0 auto;
  display: block;
  float: none;
  height: 40px;
}
  /*color: white;
  padding: 0.75%;
  background-color: rgb(34, 172, 34);
  border: none;
  font-size: 10sp;
  box-shadow: 0 5px 15px rgba(179, 80, 80, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
.selectBox select option {
  padding: 5%;
  color:black;
  background-color: rgb(137, 240, 163);
}*/

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}