.product {
  width: 80%;
  margin: 0 auto;
}

.product__img {
  width: 100%;
  height: 300px;
  background-color: var(--light-green);
  background-size: cover;
  background-position: center center;
}

.product__body {
  padding: 10px;
}

.product__body-info {
  display: flex;
}

.product__body-info-txt {
  flex: 1 0 auto;
  position: relative;
}

.product__body-info-txt h3 {
  position: absolute;
  bottom: 0;
  color: var(--main-color);
}

.product_body-info-prices p {
  color: var(--main-color);
  font-weight: bold;
  background-color: var(--main-color);
  padding: 3px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  padding: 3px 7px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.product__body-downloads {
  margin-top: 25px;
}

.product__body-downloads div a {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 25px;
  margin-bottom: 10px;
}

.product__body-downloads div a img {
  width: 25px;
  margin-left: 10px;
  margin-top: -5px;
}

.product__body-downloads select {
  padding: 8px;
  margin-left: 20px;
}

.btn-add {
  margin: 5px 0;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-add:hover {
  color: #fff;
  background-color: var(--main-color);
}

@media (max-width: 426px) {
  .product {
    width: 100%;
  }
}
