.panel {
  background-color: transparent;
  border: none;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12) !important;
}

.main-info {
  height: 365px;
  margin-bottom: 10px;
}

.main-info .col-sm-6 {
  height: 100%;
}

.main-info textarea {
  height: 268px;
  resize: none;
}

.product-img {
  width: 365px;
  height: 365px;
}

.btn-edit {
  text-transform: uppercase;
  width: 100%;
}

.btn-edit:hover {
  border-color: 3px solid var(--secondary-green);
  background-color: #fff;
  color: var(--secondary-green);
}

@media (max-width: 767px) {
  .product-img {
    width: 100%;
    max-height: 165px;
  }

  .main-info .col-sm-6 {
    height: auto;
  }

  .main-info textarea {
    height: 100px;
    resize: vertical;
  }
}
