.product {
  width: 80%;
  margin: 0 auto;
}

.product__img {
  width: 100%;
  height: 300px;
  background-color: var(--light-green);
  background-size: cover;
  background-position: center center;
}

.product__body {
  padding: 10px;
}

.product__body-main {
  position: relative;
}

.product__body-main img {
  width: 25px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(10px, -50%);
  cursor: pointer;
}

.product__body-info h2 {
  color: var(--main-color);
  text-transform: uppercase;
}

.product__body-info p {
  color: gray;
  text-transform: uppercase;
  position: relative;
  top: -15px;
}

.product__body-desc {
  position: relative;
  margin-top: -22px;
}

.product_body-table-prices table {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.product_body-table-prices table th,
.product_body-table-prices table td {
  text-align: center;
}

.product_body-table-prices table th {
  color: #fff;
  background-color: var(--main-color);
  padding: 5px;
  border: 1px solid #fff;
  border-bottom: 5px solid #fff;
}

.price-tag {
  background-color: rgb(222, 235, 222);
  padding: 5px;
  border: 1px solid #fff;
}

.price-amount {
  cursor: pointer;
  background-color: rgb(201, 233, 201);
  padding: 5px;
  border: 1px solid #fff;
}

.product__body-downloads {
  margin-top: 25px;
}

.product__body-downloads div a {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 25px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
}

.product__body-downloads div {
  position: relative;
  width: 250px;
}

.product__body-downloads div a img {
  width: 25px;
  position: absolute;
  right: 15px;
  margin-top: -2px;
}

select {
  padding: 8px;
  margin-left: 20px;
  background-color: transparent;
  border-color: var(--main-color);
}

.btn-add {
  margin: 5px 0;
  border: 2px solid var(--main-color);
  color: #fff;
  background-color: var(--main-color);
  font-weight: bold;
}

.btn-add:hover {
  color: var(--main-color);
  background-color: transparent;
}

#mobile-icons {
  display: none;
  top: 50%;
  transform: translateY(-50%);
  position: sticky;
  position: -webkit-sticky;
  float: right;
  z-index: 69;
}

#mobile-msg,
#mobile-cart {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
}

#mobile-msg img,
#mobile-cart img {
  width: 50px;
  height: 50px;
}

.info-btn {
  float: right;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background-color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: bolder;
  line-height: 1;
}

.info-btn:hover {
  background-color: var(--main-color);
  color: #fff;
}

@media (max-width: 426px) {
  .product {
    width: 100%;
  }

  .product__img {
    width: 80%;
  }

  #mobile-icons {
    display: inline-block;
}
}