.products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.product {
  padding: 10px;
  margin-top: 30px;
  width: 33%;
}

.product:last-child,
.product:first-child {
  margin-right: auto;
}

.product-img-hidden {
  position: relative;
  width: 100%;
  height: 150px;
  background: no-repeat center center;
  background-size: contain;
  border: 5px solid #fff;
  background-color: #fff;
  box-shadow: 0 8px 5px #f38282;
}
.product-img-hidden a {
  width: 100%;
  height: 100%;
  display: block;
}

.product-img {
  position: relative;
  width: 100%;
  height: 150px;
  background: no-repeat center center;
  background-size: contain;
  border: 5px solid #fff;
  background-color: #fff;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12);
}

.product-img a {
  width: 100%;
  height: 100%;
  display: block;
}

.product-img__price {
  position: absolute;
  right: -5px;
  top: 70%;
  color: #fff;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 5px 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.product-desc {
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-between;
}

.product-desc__title {
  color: var(--main-color);
}

.product-desc__desc {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-desc__txt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn-add {
  margin: 15px 0;
  border: 2px solid var(--main-color);
  background-color: transparent;
  float: right;
}

.btn-add:hover {
  color: #fff;
  background-color: var(--main-color);
}

@media (max-width: 991px) {
  .product {
    width: 50%;
  }
}
