.panel {
  background-color: transparent;
  border: none;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12) !important;
}

.table {
  background-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: none;
  vertical-align: middle;
}

.table th {
  background-color: var(--main-color);
  color: #fff;
}

.table tr:nth-child(odd) {
  background-color: var(--light-green);
}

.table td img {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.table tr.unpaid td a {
  color: rgb(241, 30, 30);
}

.btn-add {
  display: inline-block;
  border: 2px solid var(--main-color) !important;
  color: var(--main-color);
  margin-top: 10px;
}

.btn-add:hover {
  background-color: var(--main-color);
  color: #fff !important;
}

.btn-del {
  color: #fff;
  border: 2px solid rgb(235, 72, 72);
  background-color: rgb(235, 72, 72);
  padding: 6px 12px;
  border-radius: 15px;
}

.btn-del:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.modal-del {
  background-color: rgb(235, 72, 72);
}
.modal-del:hover {
  background-color: #fff;
  color: rgb(235, 72, 72);
  border-color: rgb(235, 72, 72);
}


/* Search */

#client-search {
  padding: 6px 10px;
  width: 180px;
  border: none;
  border-bottom: 2px solid var(--light-green);
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
  box-shadow: none;
}

#client-search::placeholder {
  font-size: 16px;
  font-weight: bold;
}

#client-search:focus {
  width: 100%;
  transition: 0.5s;
  outline: none;
}

/* Pagination */

.pagination > li > a,
.pagination > li > span {
  color: #000;
}

.pagination > li > span,
.pagination > li > a,
.pagination > .disabled > span,
.pagination > li > a,
.pagination > li > span {
  background-color: unset;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid var(--light-green);
  border-radius: 0;
}

.pagination > .active > span,
.pagination > .active > span:hover {
  background-color: unset;
  border-top-color: var(--main-color);
  border-bottom-color: var(--main-color);
  color: #000;
}

.pagination > li:hover > a {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  background-color: unset;
}
