.btn-add {
  width: 100%;
  text-transform: uppercase;
}

.btn-add:hover {
  border-color: 3px solid var(--secondary-green);
  background-color: #fff;
  color: var(--secondary-green);
}

.add-img {
  margin: 0 auto;
  width: 150px;
  margin-bottom: 15px;
}

.add-label {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 150%;
  color:#153E35;
}
.labelParish{
  width: 60%;
  height: 35px;
  float: right;
  vertical-align: middle;
  margin-right: 0%;
  margin-top: -11%;
  padding:7px;
  text-align: center;
  border-style: ridge;
}
#invoicePostalCode{
  width: 40%;
}
#postal_code{
  width: 40%;
}


