#invoice-select {
  display: block;
  margin: 0 auto;
  padding: 6px 12px;
  border: 3px solid var(--main-color);
  border-left: none;
  border-right: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

#invoice-select:focus {
  outline: none;
}

#invoice-select:focus {
  outline: none;
}

h4 {
  text-align: center;
}

#paid,
#unpaid {
  margin: 25px 0;
  display: none;
  text-align: center;
}

#unpaid h3 {
  text-align: center;
  border-top: 3px solid rgb(224, 7, 7);
  border-bottom: 3px solid rgb(224, 7, 7);
  padding: 15px;
}

.panel {
  border: none;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.table {
  background-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: none;
  vertical-align: middle;
}

.table th {
  background-color: var(--main-color);
  color: #fff;
}

.table tr:nth-child(odd) {
  background-color: var(--light-green);
}

.table td img {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.pagination > li > a,
.pagination > li > span {
  padding: 7px 15px;
  color: #000;
}

.pagination > li > span,
.pagination > li > a,
.pagination > .disabled > span,
.pagination > li > a,
.pagination > li > span {
  border: none;
  border-top: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
  border-radius: 0;
}

.pagination > .active > span,
.pagination > .active > span:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.pagination > li:hover > a {
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
  background-color: unset;
}

/* File Link */

.file-link {
  display: inline-block;
  color: var(--main-color);
  padding: 3px 12px;
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 15px;
}

.file-link:hover {
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
}
