.cart-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cart-container h1 {
  color: var(--main-color);
  margin: 0 auto;
  text-align: center;
}

.cart-item:last-child,
.cart-item:first-child {
  margin-right: auto;
}

.cart-item {
  display: flex;
  flex: 1 0 auto;
  background-color: var(--light-green);
  padding: 10px;
  margin-top: 30px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12);
  height: 200px;
  max-width: 45%;
}

.cart-item_img,
.cart-item_extra {
  position: relative;
}

.cart-item_desc {
  padding-left: 17px;
  flex: 1 1 0;
}

.cart-item_desc h3 {
  color: var(--main-color);
  text-transform: uppercase;
  line-height: 1;
  margin-top: 0;
}

.cart-item_desc-txt {
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.cart-item_img img {
  width: 180px;
  height: 180px;
}

.price-tag {
  position: absolute;
  right: -10px;
  top: 80%;
  color: #fff;
  font-weight: bold;
  background-color: var(--main-color);
  padding: 5px 15px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.cart-item_extra a {
  display: block;
  color: gray;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

.cart-item_extra p {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: 0;
}

.cart-info {
  margin-top: 20px;
  font-weight: bold;
  padding: 6px 12px;
  text-align: center;
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  text-transform: uppercase;
}

.btn-cart {
  float: right;
  background-color: var(--main-color);
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  width: 250px;
  border-radius: 20px;
  padding-right: 10px;
  margin-top: 40px;
}

.btn-cart:hover {
  border-color: 3px solid var(--secondary-green);
  background-color: #fff;
  color: var(--secondary-green);
}

.modal .modal-header {
  background-color: red;
}

.modal .modal-title {
  color: #fff;
  font-size: 24px;
}

.btn-alert {
  background-color: red;
  border-color: red;
}

.btn-alert:hover {
  background-color: #fff;
  color: red;
  float: right;
}

select {
  padding: 5px;
  border-color: var(--secondary-green);
  float: right;
}

@media (max-width: 991px) {
  .cart-container {
    flex-direction: column;
  }

  .cart-item {
    height: 120px;
    margin: 15px 0px;
    width: 100%;
    max-width: 100%;
  }

  .cart-item_desc h3 {
    font-size: 14px;
  }

  .cart-item_desc-txt {
    -webkit-line-clamp: 3;
  }

  .cart-item_img img {
    width: 100px;
    height: 100px;
  }

  .price-tag {
    right: -10px;
    top: 65%;
    padding: 3px 10px;
  }

  .cart-item_extra {
    width: 110px;
  }

  .cart-item_extra a {
    font-size: 10px;
    position: absolute;
    right: 0;
  }

  .btn-cart {
    width: 180px;
    position: absolute;
    left: 50%;
    float: none;
    transform: translateX(-50%);
  }

  select {
    font-size: 10px;
  }
}
