.categories-container {
  margin-bottom: 30px;
  text-align: center;
}

.category {
  width: 288px;
  height: 100px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12);
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.category:hover {
  text-decoration: none;
}

.fav{

  background-color: rgb(108 ,202 ,152);
  height: 100px;

  position: relative;
  box-shadow: 3px 4px 0px 0px #899599;
  color: #E5E1E6;
  border-radius: 15px;
  border: 1px solid #d6bcd6;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fav:hover {
  background:linear-gradient(to bottom, rgb(0, 149, 121) 5%, rgb(108, 202, 152) 100%);
  background-color:deeppink;
}
.fav:active {
  position:relative;
  top:1px;
}



.category-body {
  height: 100px;
  background-color: var(--main-color);
  position: relative;
  box-shadow: 3px 4px 0px 0px #899599;
  color: #E5E1E6;
  border-radius:15px;
  border:1px solid #d6bcd6;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-body:hover {
  background:linear-gradient(to bottom, rgb(0, 149, 121) 5%, rgb(108, 202, 152) 100%);
  background-color:deeppink;
}
.category-body:active {
  position:relative;
  top:1px;
}


/*.category-body img {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 15%;
}*/

/*.category-footer {
  height: 50px;
  background-color: #fff;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  line-height: 2.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}*/

/* Document types */

.HACCP .category-body {
  background-color: #153E35;
}

/*.HACCP img {
  width: 100%;
  position: relative;
  top: -20px;
}*/

.Controlopragas .category-body {
  background-color: #153E35;
}

.Controlopragas img {
  position: relative;
  top: 0;
}

.Contabilistico .category-body {
  background-color: #153E35;
}

/* Search */

.search-container {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

#product-search {
  padding: 6px 10px;
  width: 200px;
  border: none;
  border-bottom: 2px solid var(--light-green);
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
  box-shadow: none;
}

#product-search::placeholder {
  font-size: 16px;
  font-weight: bold;
}

#product-search:focus {
  width: 100%;
  transition: 0.5s;
  outline: none;
}

#results {
  display: none;
  text-align: left;
  position: absolute;
  width: 100%;
  background-color: var(--light-green);
  z-index: 3;
  max-height: 500px;
  overflow-y: scroll;
}

#product-search:focus + #results {
  display: block;
}

#results:hover {
  display: block;
}

.search-result {
  padding: 10px;
}

.search-result img {
  max-width: 100px;
  height: auto;
}

#fav-link {
  position: fixed;
  top: 150px;
  right: 30px;
  z-index: 69;
}

#fav-link img {
  width: 60px;
  height: 60px;
}


/* PRODUCT ADD */

.btn-new {
  margin: 15px 0;
  border: 2px solid var(--main-color);
  background-color: #fff;
}

.btn-new:hover {
  color: #fff;
  background-color: var(--main-color);
}


@media (max-width: 480px) {
  .category {
    width: 40%;
    height: 80px;
  }

  .category-body {
    height: 80px;
    font-size: 17px;
  }

  /*.category-footer {
    font-size: 12px;
    line-height: 2;
    text-overflow: ellipsis;
    white-space: normal;
  }*/

  .Controlopragas img {
    width: 100%;
    height: 100%;
  }

  .HACCP img {
    top: 10px;
  }

}