.panel {
  border: none;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12) !important;
  background-color: #fff;
}

.table {
  background-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: none;
  vertical-align: middle;
}

.table th {
  background-color: var(--main-color);
  color: #fff;
}

.table tr:nth-child(odd) {
  background-color: var(--light-green);
}

.table td img {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.btn-add {
  border: 2px solid var(--main-color) !important;
  color: var(--main-color);
  margin: 20px 0;
}

.btn-add:hover {
  background-color: var(--main-color);
  color: #fff !important;
}

.btn-del {
  color: #fff;
  border: 2px solid rgb(235, 72, 72);
  background-color: rgb(235, 72, 72);
  padding: 6px 12px;
  border-radius: 15px;
}

.btn-del:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.btn-edit {
  border: 2px solid var(--main-color);
  width: 100%;
  text-transform: uppercase;
}

.btn-edit:hover {
  background-color: #fff;
  color: var(--main-color);
}

.type-body {
  position: relative;
}

.type-body input,
.type-body select {
  border: none;
  box-shadow: none;
  border-bottom: 3px solid var(--main-color);
  border-radius: 0;
}

.type-body input:focus,
.type-body select:focus {
  outline: none;
  box-shadow: none;
}

.type-body .col-sm-6 {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/* ADD NEW */

#add-cat input {
  width: 100%;
  border: none;
  border-bottom: 3px solid var(--main-color);
  box-shadow: none;
  border-radius: 0;
}

#add-cat input:focus {
  outline: none;
}

#add-cat button {
  border: 2px solid var(--main-color) !important;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
}

#add-cat button:hover {
  background-color: #fff;
  color: var(--main-color) !important;
}
