.panel {
  border: none;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12) !important;
  background-color: #fff;
}

.table {
  background-color: #fff;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  border-top: none;
  vertical-align: middle;
}

.table th {
  background-color: var(--main-color);
  color: #fff;
}

.table tr:nth-child(odd) {
  background-color: var(--light-green);
}

.table td img {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.btn-add {
  display: block;
  border: 2px solid var(--main-color) !important;
  color: var(--main-color);
  margin: 20px 0;
}

.btn-add:hover {
  background-color: var(--main-color);
  color: #fff !important;
}

.btn-del {
  color: #fff;
  border: 2px solid rgb(235, 72, 72);
  background-color: rgb(235, 72, 72);
  padding: 6px 12px;
  border-radius: 15px;
}

.btn-del:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}
