.categories-container {
  margin-bottom: 30px;
  text-align: center;
}

.category {
  width: 25%;
  height: 200px;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.12);
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.category:hover {
  text-decoration: none;
}

.category-body {
  height: 150px;
  background-color: var(--main-color);
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.category-body img {
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: 15%;
}

.category-footer {
  height: 50px;
  background-color: #fff;
  text-transform: uppercase;
  color: #000;
  font-size: 18px;
  line-height: 2.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Document types */

.HACCP .category-body {
  background-color: rgb(255, 165, 0);
}

.HACCP img {
  width: 100%;
  position: relative;
  top: -20px;
}

.Controlopragas .category-body {
  background-color: #654321;
}

.Controlopragas img {
  position: relative;
  top: 0;
}

.Contabilistico .category-body {
  background-color: rgb(144, 144, 144);
}

/* Search */

.search-container {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

#product-search {
  padding: 6px 10px;
  width: 200px;
  border: none;
  border-bottom: 2px solid var(--light-green);
  border-radius: 0;
  font-size: 16px;
  font-weight: bold;
  transition: 0.5s;
  box-shadow: none;
}

#product-search::placeholder {
  font-size: 16px;
  font-weight: bold;
}

#product-search:focus {
  width: 100%;
  transition: 0.5s;
  outline: none;
}

#results {
  display: none;
  text-align: left;
  position: absolute;
  width: 100%;
  background-color: var(--light-green);
  z-index: 3;
}

#product-search:focus + #results {
  display: block;
}

#results:hover {
  display: block;
}

.search-result {
  padding: 10px;
}

.search-result img {
  max-width: 100px;
  height: auto;
}

#fav-link {
  position: fixed;
  top: 150px;
  right: 30px;
  z-index: 69;
}

#fav-link img {
  width: 60px;
  height: 60px;
}

@media (max-width: 480px) {
  .category {
    width: 40%;
    height: 150px;
  }

  .category-body {
    height: 100px;
  }

  .category-footer {
    font-size: 12px;
    line-height: 2;
    text-overflow: ellipsis;
    white-space: normal;
  }

  .Controlopragas img {
    width: 100%;
    height: 100%;
  }

  .HACCP img {
    top: 10px;
  }

}